{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Box Icons CSS -->
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static 'style.css' %}" />
    <title>Quick ToDo</title>
  </head>
  <body
    class="bg-[#cfcfcf] flex flex-col items-center justify-center gap-4 h-screen"
  >
    <!-- header -->
    <header
      class="bg-white shadow-lg w-10/12 h-auto rounded-3xl flex flex-col sm:flex-row justify-between items-center p-5 m-7 md:w-3/6"
    >
      <a href="{% url 'home' %}">
        <h1 class="text-blue-600 font-bold text-[40px]">Quick ToDo</h1>
      </a>
      <a
        class="bg-blue-600 py-2 px-4 text-white font-semibold rounded-2xl text-lg mt-4 flex items-center gap-2"
        href="{% url 'add_task' %}"
        ><i class="bx bxs-plus-circle bx-sm"></i> Add New</a
      >
    </header>

    {% block content %}
    
    {% endblock content %}

    <!-- Box Icons -->
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
  </body>
</html>
